/**
 * Breakpoints
 *
 * Should contain breakpoint variables and breakpoints related mixins
 *
 */



/* Mixins
   *
   * Use this mixin to change styling for your rulesets depending on a breakpoint (width)
   *
   * Usage example: @include breakpoint($breakpoint-x)
   *
   ================================================================================================================== */

$breakpoint-lap:       375px;
$breakpoint-tablet:    600px;
$breakpoint-desk:      800px;
$breakpoint-largedesk: 1350px;
$breakpoint-bigscreen: 2000px;

@mixin breakpoint($breakpoint) {
  @media only screen and (min-width: $breakpoint) { @content; }
}
