@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: normal;
	src:
		local('Source Sans Pro'),
		local('SourceSansPro-Regular'),
		url('/public/Source_Sans_Pro.eot?#iefix') format('embedded-opentype'),
		url('/public/Source_Sans_Pro.woff') format('woff'),
		url('/public/Source_Sans_Pro.woff2') format('woff2'),
		url('/public/Source_Sans_Pro.svg#SourceSansPro') format('svg'),
		url('/public/Source_Sans_Pro.ttf') format('truetype');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src:
		local('Source Sans Pro Semibold'),
		local('SourceSansPro-Semibold'),
		url('/public/Source_Sans_Pro_600.eot?#iefix') format('embedded-opentype'),
		url('/public/Source_Sans_Pro_600.woff') format('woff'),
		url('/public/Source_Sans_Pro_600.woff2') format('woff2'),
		url('/public/Source_Sans_Pro_600.svg#SourceSansPro') format('svg'),
		url('/public/Source_Sans_Pro_600.ttf') format('truetype');
}
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src:
		local('Source Sans Pro Bold'),
		local('SourceSansPro-Bold'),
		url('/public/Source_Sans_Pro_700.eot?#iefix') format('embedded-opentype'),
		url('/public/Source_Sans_Pro_700.woff') format('woff'),
		url('/public/Source_Sans_Pro_700.woff2') format('woff2'),
		url('/public/Source_Sans_Pro_700.svg#SourceSansPro') format('svg'),
		url('/public/Source_Sans_Pro_700.ttf') format('truetype');
}
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: normal;
	src:
		local('Nunito Regular'),
		local('Nunito-Regular'),
		url('/public/Nunito.eot?#iefix') format('embedded-opentype'),
		url('/public/Nunito.woff') format('woff'),
		url('/public/Nunito.woff2') format('woff2'),
		url('/public/Nunito.svg#Nunito') format('svg'),
		url('/public/Nunito.ttf') format('truetype');
}
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 600;
	src:
		local('Nunito SemiBold'),
		local('Nunito-SemiBold'),
		url('/public/Nunito_600.eot?#iefix') format('embedded-opentype'),
		url('/public/Nunito_600.woff') format('woff'),
		url('/public/Nunito_600.woff2') format('woff2'),
		url('/public/Nunito_600.svg#Nunito') format('svg'),
		url('/public/Nunito_600.ttf') format('truetype');
}
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	src:
		local('Nunito Bold'),
		local('Nunito-Bold'),
		url('/public/Nunito_700.eot?#iefix') format('embedded-opentype'),
		url('/public/Nunito_700.woff') format('woff'),
		url('/public/Nunito_700.woff2') format('woff2'),
		url('/public/Nunito_700.svg#Nunito') format('svg'),
		url('/public/Nunito_700.ttf') format('truetype');
}