/**
 *
 * Forms
 *
 */

.form--wrapper {
  margin-bottom: 2em;
}

.form--input {
  margin-bottom: 1.5em;
}

.form--password-wrapper {
  position: relative;

  // Internet Explorer 10 includes its own control for toggling password visibility that can compete with the plugin we
  // use to show and hide the password.
  // This override disables the control.

  input[type="password"] {
    &::-ms-reveal {
      display: none !important;
    }
  }
}

.form--toggle-password {
  position: absolute;
  right: 2px !important;

  min-height: 3.5em;
  padding-right: 1em;
  padding-left: 2.75em;

  background: $white url('/public/eye.png') no-repeat 0.5em 1.25em;
  color: $gray;
  cursor: pointer;
  font-size: 75%;
  line-height: 3.5em;

  @include background-size(1.5em);
}

.form--new-code {
  padding-top: 2em;
  text-align: center;
}