/**
 * Layouts
 *
 * This is an example file
 *
 */


%center-layout-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 40em;
}


/* Map */
.map {
  height: 100%;

  body {
    height: 100%;
    padding-top: 3em;

    @include box-sizing(border-box);
  }

  #map-canvas {
    height: 100%;

    img {
      max-width: inherit;
    }
  }

  .header {
    position: fixed;
    top: 0;
    z-index: 99;

    margin-bottom: 0;
    width: 100%;
  }

  .header--inner {
    max-width: 100%;
  }

  .logo-secondary--wrapper {
    right: 2em;
  }

  .map-content {
    position: fixed;
    z-index: 99;
    top: 6em;
    left: 7em;

    padding: 1em;

    background-color: $white;
  }
}


/* Header */

.header {
  height: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-right: 1em;
  padding-left: 1em;

  a {
    &:link {
      color: $white;
      text-decoration: none;
    }

    &:visited {
      color: darken($white, 5%);
    }

    &:hover {
      color: darken($white, 10%);
      text-decoration: none;
    }

    &:focus {
      color: darken($white, 10%);
    }
  }
}

.header--inner {
  @extend %center-layout-container;
  position: relative;
}

/* Logos and back link */

.front {
  .logo--wrapper {
    left: 0;
  }

  .back-link--wrapper {
    display: none;
  }
}

.back-link--wrapper,
.logo--wrapper,
.logo-secondary--wrapper {
  position: absolute;

  height: 2em;
}

.back-link--wrapper {
  left: 0;
}

.logo--wrapper {
  left: 2em;
}

.logo-secondary--wrapper {
  right: 0;
}

.back-link,
.logo,
.logo-secondary {
  @include vertical-align();
}

.logo {
  display: inline-block;
  max-width: 10em;
}

.logo-secondary {
  max-width: 10em;

  @include breakpoint($breakpoint-desk) {
    max-width: 12em;
  }
}


.back-link {
  display: block;
  max-width: 1em;
}

.frontpage,
.back-link-hidden {
  .back-link {
    display: none;
  }

  .logo--wrapper {
    left: 0;
  }
}


/* Layout */

.layout {
  @extend %center-layout-container;

  background-color: $primary-color-dark;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-top: 2em;
}


/* Saved login */

.saved-login--link {
  display: none;

  font-size: .5em;

  &.is-visible {
    display: inline-block;
    min-width: 7.5em;
  }

  @include breakpoint(24em) {
    position: absolute;

    margin-top: .75em;
    margin-left: .5em;
  }
}

/* Footer */
.footer {
  font-size: 1.2em;
}