/**
 *
 * Link buttons
 *
 */


.link-button {
  @extend .button;

  position: relative;

  margin-bottom: .8em;

  text-align: left;

  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    background-color: darken($secondary-color, 5%);
    color: $white;
    text-decoration: none;
  }

  &:focus {
    color: $white;
  }
}

.link-button--icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  display: block;
  padding-right: 1em;
  padding-left: 1em;

  background-color: darken($secondary-color, 10%);
}

.link-button--icon {
  position: relative;
  top: .8em;

  max-width: .75em;
}