/**
 *
 * Messages
 *
 */


%message-green {
  background-color: $green;
  color: darken($green, 50%);
}

%message-red {
  background-color: $red;
  color: $white;

  a:link {
    color: lighten($red, 30%);
    text-decoration: underline;
  }

  a:visited {
    color: lighten($red, 35%);
  }

  a:hover,
  a:focus {
    color: lighten($red, 40%);
    text-decoration: none;
  }
}

%message-yellow {
  background-color: $yellow;
  color: darken($yellow, 40%);
}

.message {
  overflow: hidden;

  margin-bottom: 2em;
  padding: 1em 1.5em;
  width: 100%;

  @include box-sizing(border-box);
  @include border-radius($border-radius);

  label {
    display: inline;
    margin: 0;

    font-weight: bold;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.message--success {
  @extend %message-green;
  @extend .message;
}

.message--warning {
  @extend %message-yellow;
  @extend .message;
}

.message--error {
  @extend %message-red;
  @extend .message;
}

.message--success {
  @extend %message-green;
  @extend .message;
}

