/**
 * Base
 *
 * Contains styling and reset of basic elements
 *
 */


body {
  background-image: url('/public/background-tile.png');
  background-repeat: repeat;
  background-position: top left;
  background-color: $primary-color-light;
  color: $white;
  font: $font;
  height: 100vh;
  text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: $white;
  font-size: 175%;
  font-weight: 600;
  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;

  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5em;
}


strong {
  font-weight: bold;
}


em {
  font-style: italic;

  strong {
    font-weight: bold;
  }
}



/* Links
   ================================================================================================================== */

a {
  &:link {
    color: $link-color;
    text-decoration: underline;
  }

  &:visited {
    color: darken($link-color, 5%);
  }

  &:hover {
    color: darken($link-color, 10%);
    text-decoration: none;
  }

  &:focus {
    color: darken($link-color, 10%);
  }
}


/* Paragraph
   ================================================================================================================== */

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 1.1em;
}


/* Image
   ================================================================================================================== */

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
